## pivot list of nested dicts - panda

- cf : https://www.dataquest.io/blog/pandas-pivot-table/
- cf : https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.set_index.html
- cf : https://stackoverflow.com/questions/47152691/how-to-pivot-a-dataframe
- cf : https://stackoverflow.com/questions/28337117/how-to-pivot-a-dataframe-in-pandas
- cf : https://pandas.pydata.org/pandas-docs/stable/generated/pandas.pivot_table.html
- cf : https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_dict.html

also in JS (transpose) :
- cf : https://stackoverflow.com/questions/42880867/javascript-transpose-an-array-of-objects

In [1]:
import pandas as pd
from pandas.io.json import json_normalize
from pprint import pprint, pformat

In [93]:
data = [
    {
        "_id" : "id_",
        "infos" : {
            "title" : "title_",
            "description" : "description_"
        },
        "public_auth" : {
            "open_level_edit" : "open_level_", 
        },
    },
    {
        "_id" : "id_AAA",
        "infos" : {
            "title" : "title_A",
            "description" : "descr_A"
        },
        "public_auth" : {
            "open_level_edit" : "open_level_A", 
        },
    },
    {
        "_id" : "id_BBB",
        "infos" : {
            "title" : "title_B",
            "description" : "descr_B"
        },
        "public_auth" : {
            "open_level_edit" : "open_level_C", 
        },
    },
]

In [94]:
# data_df = pd.DataFrame(data)
# print data_df

In [95]:
data_df = json_normalize(data)
# data_df = data_df.set_index("_id")
print data_df

      _id infos.description infos.title public_auth.open_level_edit
0     id_      description_      title_                 open_level_
1  id_AAA           descr_A     title_A                open_level_A
2  id_BBB           descr_B     title_B                open_level_C

In [96]:
pprint (data_df.to_dict('records'))

[{'_id': 'id_',
  'infos.description': 'description_',
  'infos.title': 'title_',
  'public_auth.open_level_edit': 'open_level_'},
 {'_id': 'id_AAA',
  'infos.description': 'descr_A',
  'infos.title': 'title_A',
  'public_auth.open_level_edit': 'open_level_A'},
 {'_id': 'id_BBB',
  'infos.description': 'descr_B',
  'infos.title': 'title_B',
  'public_auth.open_level_edit': 'open_level_C'}]

In [97]:
data_df_indexed = data_df.set_index('_id')
print data_df_indexed

       infos.description infos.title public_auth.open_level_edit
_id
id_         description_      title_                 open_level_
id_AAA           descr_A     title_A                open_level_A
id_BBB           descr_B     title_B                open_level_C

In [98]:
### dict with first key==columns, then dict with key==index in nested
pprint(data_df_indexed.to_dict())
# pprint(data_df_indexed.to_dict('dict'))

{'infos.description': {'id_': 'description_',
                       'id_AAA': 'descr_A',
                       'id_BBB': 'descr_B'},
 'infos.title': {'id_': 'title_', 'id_AAA': 'title_A', 'id_BBB': 'title_B'},
 'public_auth.open_level_edit': {'id_': 'open_level_',
                                 'id_AAA': 'open_level_A',
                                 'id_BBB': 'open_level_C'}}

In [99]:
### list of the lines => records with keys==columns
pprint(data_df_indexed.to_dict('records'))

[{'infos.description': 'description_',
  'infos.title': 'title_',
  'public_auth.open_level_edit': 'open_level_'},
 {'infos.description': 'descr_A',
  'infos.title': 'title_A',
  'public_auth.open_level_edit': 'open_level_A'},
 {'infos.description': 'descr_B',
  'infos.title': 'title_B',
  'public_auth.open_level_edit': 'open_level_C'}]

In [100]:
### dict with first key==columns, then list of values
pprint(data_df_indexed.to_dict('list'))

{'infos.description': ['description_', 'descr_A', 'descr_B'],
 'infos.title': ['title_', 'title_A', 'title_B'],
 'public_auth.open_level_edit': ['open_level_',
                                 'open_level_A',
                                 'open_level_C']}

In [101]:
### dict with first key==columns, then list of values
pprint(data_df_indexed.to_dict('split'))

{'columns': ['infos.description',
             'infos.title',
             'public_auth.open_level_edit'],
 'data': [['description_', 'title_', 'open_level_'],
          ['descr_A', 'title_A', 'open_level_A'],
          ['descr_B', 'title_B', 'open_level_C']],
 'index': ['id_', 'id_AAA', 'id_BBB']}

In [102]:
""" not sure here ..."""

' not sure here ...'

In [104]:
data_pivoted = data_df.pivot(
    index=None, 
    columns='_id',
    values=None
)
data_pivoted

    infos.description                   infos.title                    \
_id               id_   id_AAA   id_BBB         id_   id_AAA   id_BBB
0        description_     None     None      title_     None     None
1                None  descr_A     None        None  title_A     None
2                None     None  descr_B        None     None  title_B

    public_auth.open_level_edit
_id                         id_        id_AAA        id_BBB
0                   open_level_          None          None
1                          None  open_level_A          None
2                          None          None  open_level_C

In [105]:
data_pivoted.to_dict('list')

{('infos.description', 'id_'): ['description_', None, None],
 ('infos.description', 'id_AAA'): [None, 'descr_A', None],
 ('infos.description', 'id_BBB'): [None, None, 'descr_B'],
 ('infos.title', 'id_'): ['title_', None, None],
 ('infos.title', 'id_AAA'): [None, 'title_A', None],
 ('infos.title', 'id_BBB'): [None, None, 'title_B'],
 ('public_auth.open_level_edit', 'id_'): ['open_level_', None, None],
 ('public_auth.open_level_edit', 'id_AAA'): [None, 'open_level_A', None],
 ('public_auth.open_level_edit', 'id_BBB'): [None, None, 'open_level_C']}

In [106]:
data_expected = [
    { 
        "id_" : "title_" ,
        "id_AAA" : "title_A" ,
        "id_BBB" : "title_B" ,
    },
    { 
        "id_" : "description_" ,
        "id_AAA" : "descr_A" ,
        "id_BBB" : "descr_B" ,
    },
    { 
        "id_" : "open_level_" ,
        "id_AAA" : "open_level_A" ,
        "id_BBB" : "open_level_B" ,
    },
]

In [137]:
data_df_1 = json_normalize(data_expected)
#data_df_ = data_df_.set_index('id_')
print data_df_1

            id_        id_AAA        id_BBB
0        title_       title_A       title_B
1  description_       descr_A       descr_B
2   open_level_  open_level_A  open_level_B

In [152]:
pprint (data_df_1.to_dict('dict'))

{'id_': {0: 'title_', 1: 'description_', 2: 'open_level_'},
 'id_AAA': {0: 'title_A', 1: 'descr_A', 2: 'open_level_A'},
 'id_BBB': {0: 'title_B', 1: 'descr_B', 2: 'open_level_B'}}

In [153]:
pprint (data_df_1.to_dict('split'))

{'columns': ['id_', 'id_AAA', 'id_BBB'],
 'data': [['title_', 'title_A', 'title_B'],
          ['description_', 'descr_A', 'descr_B'],
          ['open_level_', 'open_level_A', 'open_level_B']],
 'index': [0, 1, 2]}

In [138]:
data_df_2 = data_df_1.pivot(
    index=None,
    columns='id_',
    #values=None
)
data_df_

          id_AAA                              id_BBB
id_ description_   open_level_   title_ description_   open_level_   title_
0           None          None  title_A         None          None  title_B
1        descr_A          None     None      descr_B          None     None
2           None  open_level_A     None         None  open_level_B     None

In [139]:
data_df_3 = data_df_2.pivot(
    index=None,
    columns=None,
    #values=None
)
data_df_i

KeyError: <type 'object'>

In [143]:
data_df_2.to_dict('index')

{0: {('id_AAA', 'description_'): None,
  ('id_AAA', 'open_level_'): None,
  ('id_AAA', 'title_'): 'title_A',
  ('id_BBB', 'description_'): None,
  ('id_BBB', 'open_level_'): None,
  ('id_BBB', 'title_'): 'title_B'},
 1: {('id_AAA', 'description_'): 'descr_A',
  ('id_AAA', 'open_level_'): None,
  ('id_AAA', 'title_'): None,
  ('id_BBB', 'description_'): 'descr_B',
  ('id_BBB', 'open_level_'): None,
  ('id_BBB', 'title_'): None},
 2: {('id_AAA', 'description_'): None,
  ('id_AAA', 'open_level_'): 'open_level_A',
  ('id_AAA', 'title_'): None,
  ('id_BBB', 'description_'): None,
  ('id_BBB', 'open_level_'): 'open_level_B',
  ('id_BBB', 'title_'): None}}