In [1]:
### tests df type conversions
import pandas as pd

In [12]:
a = [['a', '1.2', '4.2'], ['b', '', '0.03'], ['x', '5', '0']]
df = pd.DataFrame(a)
df

   0    1     2
0  a  1.2   4.2
1  b       0.03
2  x    5     0

In [13]:
df[1] = df[1].astype('bool')

In [14]:
df

   0      1     2
0  a   True   4.2
1  b  False  0.03
2  x   True     0